@import url('../fonts/FrontPageNeue.otf');
@import url('../fonts/FrontPageNeue.woff');
@import url('../fonts/junegull.ttf');
@import url('../fonts/Timeline.ttf');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');

@font-face {
    font-family: 'prataregular';
    src: url('../Prata/fonts/prata-regular-webfont.woff2') format('woff2'),
         url('../Prata/fonts/prata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

div.upload {
    width: 157px;
    height: 57px;
    background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
    overflow: hidden;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: normal;
}


.form-control:focus {
  box-shadow: none;
}

.bg-login {

    background-image: url('../img/bg_login.jpg');
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.login input {
    background-color: transparent;
    color: white;
    padding: 0.6em;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.login input:focus {
    background-color: transparent;
    color: #fff;
    outline: none;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"][layout="landscape"] {
    background-image: url("../img/cert_bg.png");
    background-size: contain;
    width: 29.7cm;
    height: 21cm;
}

@media print {
    body, page {
        margin: 0;
        box-shadow: 0;
    }
}

#landscapePage .content {
    padding: 6em 2em 4em 3em;
}

#landscapePage .content .header {
    margin-bottom: 40px;
}

#landscapePage .content .header h2 {
    letter-spacing: 5px;
    font-size: 50px;
    font-family: "Front Page Neue", cursive;
    margin: 0 !important;
}

#landscapePage .content .header h4 {
    letter-spacing: 5px;
    font-size: 20px;
    margin: 0 !important;
    font-family: "Front Page Neue", cursive;
}


#landscapePage .content .description {
    color: #7b7979;
    font-size: 14px;
    width: 600px;
    margin-bottom: 50px;
    font-family: "Lucida Fax", cursive;
}

#landscapePage .content .applicant {
    line-height: 0px;
}

#landscapePage .content .applicant p {
    letter-spacing: 1px;
    font-family: "Consolas", cursive;
    font-size: 18px;
    font-weight: bold;
}

#landscapePage .content .applicant h1 {
    margin: 0 !important;
    color: #336699;
    font-size: 30px;
    font-family: "Timeline", cursive;
}

#landscapePage .content .applicant h4 {
    font-family: "Front Page Neue", cursive;
    font-size: 23pt;
    letter-spacing: 1px;
    color: #abaaaa;
}

#landscapePage .content .address {
    margin-top: 30px !important;
    color: #7b7979;
    font-family: "Lucida Fax", cursive;
    line-height: 5px;
}

#landscapePage .content .signitures .names {
    display: flex;
    margin-top: 60px;
}

#landscapePage .content .signitures h3,
#landscapePage .content .signitures h4 {
    margin: 0 !important;
}

#landscapePage .content .signitures h3 {
    color: #b3b3b3;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#landscapePage .content .signitures h4 {
    color: #5abe55;
    font-size: 18px;
    font-family: "Lucida Fax", cursive;
    letter-spacing: 1px;
}

#landscapePage .content .signitures .applicant-sign {
    margin-right: 25%;
}

#landscapePage .content .signitures .sign-space {
    display: flex;
}

#landscapePage .content .signitures .sign-space .signiture-1 {
    width: 190px;
    padding: 1.5em;
    border-bottom: 2px solid #555;
    margin-right: 21.5%;
}

#landscapePage .content .signitures .sign-space .signiture-2 {
    width: 190px;
    padding: 1.5em;
    border-bottom: 2px solid #555;
}


a .btn-outline-dark:hover
{
    background-color: transparent;
}

textarea
{
    border-right: #646464;
    border-top: #646464;
    border-left: #646464;
    border-bottom: #646464;
    width:100%;
    background: #ffffcc;
}

label {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
}

.card-title {
	background-color: #28a745;
	font-family: 'Cabin', sans-serif;
	font-weight: 550;
	padding: 0.5em;
	color: #fff;
}

.card-text {
	padding: 1em;
}

.edit_btn {
	background-color: #e6e6e6;
	color: #222;
	position: absolute;
	right: 4px;
	top: 4px;
	transition: 0.6s ease;
}

.edit_btn:hover {
	background-color: #fff !important;
	color: #222 !important;
}

.add-btn {
	background-color: #e6e6e6;
	color: #222;
	position: absolute;
	right: 4px;
	top: 4px;
	transition: 0.6s ease;
}

.add-btn:hover {
	background-color: #fff !important;
	color: #222 !important;
}

.deligation-btn {
  background-color: transparent;
  border: 1px solid #28a745;
  padding: 0.2em 1em;
  cursor: pointer;
  border-radius: 5px;
}

.deligation-btn:hover {
  background-color: #28a745;
}

.text-tomato
{
  color: tomato;
}

.bg-tomato
{
  background-color: tomato;
}

.btn-tomato
{
  background-color: tomato;
  color: white;
  transition: 0.6s ease;
}

.btn-tomato:hover
{
  background-color: transparent;
  border: 1px solid tomato;
  color: tomato;
}

.border-tomato
{
  border: 1px solid tomato;
}

.border-tomato:focus
{
  border: 1px solid tomato;
}

.btn-tomato-o
{
  background-color: transparent;
  border: 1px solid tomato;
  color: tomato;
  transition: 0.6s ease;
}

.btn-tomato-o:hover
{
  background-color: tomato;
  color: white;
}


.edit_btn:hover
{
  background-color: #28a745;
  color: white;

}

.badge-tomato
{
  color: white;
  background-color: tomato;
}

.bg-work
{
  background-image: url("../img/wolfgang-hasselmann-GRZl-JN1aYE-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

#search-zone > a:hover {
  text-decoration: none;
}

.selected-person {
  color: white;
}

#person-type a:link {
  text-decoration: none;
}

#person-type a:hover {
  text-decoration: none;
  color: wheat;
}

.work-content {
  margin-top: -20px !important;
  width: 100%;
  height: 100vh;
  background-color:rgb(0,0,0,0.5);
  overflow-y: auto;

}

.folders {
  padding: 10px;
  border: 1px solid tomato;
  background-color: rgb(255,255,255,0.1);
  border-radius: 5px;
    color: white;
}

.folders:hover
{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: .6s ease;
}

.folders a:link
{
  text-decoration: none;
}

.folders a:hover
{
  color: white;
}

.input-group input
{
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.input-group input:focus
{
  background-color: rgb(255,255,255,0.1);
  color: white;
  font-weight: bold;
}

.input-group input:hover
{
  background-color: rgb(255,255,255,0.1);
  color: white;
  font-weight: bold;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(0, 0, 0); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 10px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1111111111; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 20%; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 20%; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 20%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 20%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 20%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

a:hover {
  cursor: pointer;
}
